.app {
  padding: 30px;
  height: 100vh;
  background-color: rgb(151, 200, 243);
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
#copyright {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}
